{% extends "index.html" %}
{% block body %}
<div class="px-5">
    <div class="d-flex align-items-cente pt-4 pb-1">
        <h1 class="">Welcome, {{user.first_name}}</h1>
        <a href="/add_form/" class="ms-auto me-5">create</a>
        <a href="/logout/" >logout</a>
    </div>
    <h6>
        <span>[one-to-many] - {#{user.xxxs}#}</span>  
        {% for xxx in user.xxxs %}
            <span>{{xxx.aaa}}</span>
        {% endfor %}
    </h6>
    <h6>
        <span>[many-to-many] -  {#{user.many_to_many}#}</span>  
        {% for xxx in user.many_to_many %}
            <span>{{xxx.aaa}}</span>
        {% endfor %}
    </h6>
    <h5 class="pb-2">All xxxs</h5>
    <table class="mx-auto table table-striped table-primary border-dark table-hover text-center ">
        <thead>
            <tr class="">
                <th scope="col">aaa</th>
                <th scope="col">bbb</th>
                <th scope="col">ccc</th>
                <th scope="col">ddd</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% if xxxs %}
                {% for xxx in xxxs %}
                <tr>
                    <td>{{xxx.aaa}}</td>
                    <td>{{xxx.bbb}}</td>
                    <td>{{xxx.ccc}}</td>
                    <td>
                        <a href="/view_one/{{xxx.id}}/">view xxx</a>
                        {% if user.id == xxx.user_id %}
                        | <a href="/edit_form/{{xxx.id}}/">edit</a>
                        | <a href="/delete_xxx/{{xxx.id}}/">delete</a>
                        {% else %}
                            {% if xxx.logged_in_user_in_many_to_many %}
                                <a href="/remove_from_many_to_many/{{xxx.id}}/dashboard/">remove</a>
                            {% else %}
                                <a href="/add_to_many_to_many/{{xxx.id}}/dashboard/">add</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock body %}