{% extends "index.html" %}
{% block body %}
<div class="px-5 mx-5">
    <div class="d-flex align-items-center pt-3 pb-3">
        <h1 class="">Welcome {{user.first_name}}!</h1>
        <a href="/dashboard/" class="ms-auto me-5">back to dashboard</a>
        <a href="/logout/" >logout</a>
    </div>
    <div class="d-flex align-items-center pt-3 pb-3">
        <h1 class="">{{xxx.aaa}}</h1>
        <h3 class="ms-auto pb-0">Posted by: {{xxx.user.first_name}}</h3>
    </div>
    {% for user in xxx.many_to_many %}
        <span>{{user.first_name}} {{user.last_name}} - </span>
    {% endfor %}
    <div class="p-4 border border-3 border-dark">
        <div class="row my-3">
            <p class="col fs-4 fw-bold">Description:</p>
            <p class="col-9 fs-4">{{xxx.aaa}}</p>
        </div>
        <div class="row my-3">
            <p class="col fs-4 fw-bold">Under 30 minutes?</p>
            <p class="col-9 fs-4">{{xxx.eee}}</p>
        </div>
        <div class="row my-3">
            <p class="col fs-4 fw-bold">Instructions:</p>
            <p class="col-9 fs-4">{{xxx.ccc}}</p>
        </div>
        {#<div class="row my-3">
            <p class="col fs-4 fw-bold">Date made:</p>
            <p class="col-9 fs-4">{{xxx.date_made.strftime("%B %-d, %Y")}}</p>
        </div>#}
    </div>
</div>

{% endblock body %}